.settings-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: start;
  align-items: center;
  height: 100%;
  overflow: scroll;
  padding: 3rem 0 4rem 0;

  &__submit {
    border: none;
    cursor: pointer;
  }

  &::-webkit-scrollbar {
    display: none;
  }
  &__header {
    width: 57rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;

    &--text {
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 2rem;
      border-radius: 5rem;
      border: 1px solid #000000;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
      z-index: 1000;
    }

    &--img {
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    }
  }

  &__dropdown {
    width: 57rem;
    display: flex;
    flex-direction: column;
    justify-content: start;

    align-items: center;

    border-radius: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);

    background: rgba(255, 255, 255, 0.5);
    &--corner {
      overflow: hidden;
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
    }
    &--container {
      width: 100%;
      height: auto;
      min-height: 30rem;
    }
    &--pref {
      display: flex;
      align-items: start;
      justify-content: center;
      height: auto;
      width: 100%;
      min-height: 40rem;
    }
    &--line {
      border: 1px solid rgba(0, 0, 0, 0.1);
      width: 100%;
      opacity: 50%;
    }

    &--element {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 7rem;
      padding: 1rem 5rem;
      cursor: pointer;
      -webkit-user-select: none; /* Chrome, Safari, Opera */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE 10+/Edge */
      user-select: none;

      &:hover {
        background: rgba(255, 255, 255, 0.55);
      }
      &:active {
        background: rgba(255, 255, 255, 0.7);
      }
    }
    &--container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.setting-width {
  margin-top: 1rem;
  max-width: 30rem;
  width: 30rem;
  justify-content: center !important;
  height: 100%;
}
.chevron-flipped {
  transform: scaleY(-1);
}
.invisible-btn {
  display: none;
}
