input[type="radio"] {
  cursor: pointer;
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  background-color: #b2fbff;
  font: inherit;
  color: currentColor;
  width: 2rem;
  height: 2rem;
  border: 2px solid #a9cbce;
  border-radius: 50%;
  transform: translateY(-0.075em);
  overflow: hidden;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 2em;
  height: 2em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;

  background-color: #00f0ff;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
