.green-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 40rem;
  height: 40rem;
  border-radius: 1000px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.login-fix {
  display: flex;
  align-items: center;
  background: none;
  box-shadow: none;
}
