.weekly-schedule {
  &__open {
    position: relative;
    padding-right: 10rem;
    border-radius: 5rem;
    background-color: aliceblue;

    overflow: hidden;
    min-width: 40rem;
    background-color: #ffffff7f;
  }

  &__menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15rem;

    top: 50%;
    right: 0; // move the position towards the right
    transform: translate(-50%, -50%);
  }
  padding: 4rem 0;

  position: relative;

  &__wrapper {
    position: relative;
  }

  &__scroll {
    width: 100%;
    position: relative;

    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    overflow-y: visible;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__card {
    flex: 0 0 auto;
    overflow: hidden;
    width: 42rem;
    height: 45rem;
    background: rgba(0, 240, 255, 0.4);
    border-radius: 2.5rem;
    display: flex;
    position: relative;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
  &__ul {
    list-style-type: none;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &--img {
      position: relative;
      filter: invert(100%);
    }
    &--li {
      cursor: pointer;
      border-radius: 0rem 2rem 2rem 0rem;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 300;
      font-size: 1.8rem;

      min-height: 3rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__top-row {
    display: flex;
    margin: 0 4rem;
    justify-content: space-between;
    max-height: 5rem;

    &--left {
      display: flex;
      gap: 3rem;
    }
  }

  &__label {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f2f2ad;
    padding: 0 2rem;
    border-radius: 1000px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
.plan-card__image--fix {
  cursor: default;
}
