.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(168.21deg, #ffffff 0%, #65f6ff 99.77%);
}

.app-container {
  width: 100rem;
  height: 64rem;

  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.vh-fix {
  height: 100vh; /* this makes the parent take the full height of the viewport */
}
